@media screen and (min-width: 375px) {
    .about{
        flex-direction: column;
    }
    .leftabout{
        justify-content:  center;
    }
    .rightabout {
        overflow: scroll;
    }
  }
  